@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap");
* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Space Grotesk", sans-serif;
  text-transform: uppercase;
  font-size: 18px;
}

.container {
  font-family: "space";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
}

.container__color {
  width: 30%;
  background-image: url(../images/bg-main-desktop.png);
  position: relative;
  background-repeat: no-repeat;
}

.container__color__front {
  position: relative;
}

.container__color__front__logo {
  position: absolute;
  top: 217px;
  left: -322px;
}

.container__color__front__card {
  position: absolute;
  top: 184px;
  left: -356px;
}

.container__color__front--number {
  position: absolute;
  top: 316px;
  left: -330px;
  font-size: 28px;
  width: 100%;
  color: white;
  white-space: nowrap;
}

.container__color__front--date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: absolute;
  top: 350px;
  left: -323px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 85%;
  font-size: 18px;
  color: white;
  text-transform: uppercase;
  white-space: pre;
}

.container__color__front__MY {
  margin-left: 127px;
}

.container__color__back {
  color: white;
}

.container__color__back__card {
  position: absolute;
  top: 467px;
  left: -234px;
}

.container__color__back p {
  position: absolute;
  top: 577px;
  left: 109px;
}

.container__pay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 30%;
  gap: 8px;
  margin: 19% auto;
  margin-right: 186px;
}

.container__pay__back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container__pay__back--exp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container__pay__back--exp input {
  width: 44%;
}

.container__pay__cvc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container__pay__label {
  color: #21092f;
  margin-top: 18px;
  white-space: nowrap;
}

.container__pay__input {
  width: 100%;
}

.container__button {
  width: 100%;
  padding: 0.75rem;
  color: white;
  background-color: #21092f;
  border-radius: 5px;
  border: none;
  margin-top: 18px;
}

.container__confirmation {
  padding: 300px;
  text-align: center;
  margin-top: 80px;
}

.container__confirmation__tittle {
  position: relative;
  font-size: 20px;
}

.container__confirmation__tittle::before {
  position: absolute;
  content: "";
  background-image: url(../images/icon-complete.svg);
  background-repeat: no-repeat;
  width: 100%;
  top: -105px;
  bottom: -20px;
  left: 94px;
  right: 10px;
}

.container__confirmation__text {
  font-size: 13px;
  white-space: nowrap;
  margin-top: 21px;
  margin-bottom: 25px;
  color: #dedddf;
}

.container__confirmation__button {
  width: 100%;
  padding: 0.75rem;
  color: white;
  background-color: #21092f;
  border-radius: 5px;
  border: none;
}

#labelout,
#labeloutexp,
#labeloutcvc {
  color: red;
  display: none;
  font-size: 14px;
  margin-top: 14px;
}

input {
  border: 1px solid #dedddf;
  padding: 0.75rem;
  border-radius: 0.5rem;
  color: #21092f;
  cursor: pointer;
}

.input::-webkit-input-placeholder {
  color: var(#dedddf);
}

.input:-ms-input-placeholder {
  color: var(#dedddf);
}

.input::-ms-input-placeholder {
  color: var(#dedddf);
}

.input::placeholder {
  color: var(#dedddf);
}

input:hover {
  border-color: #21092f;
}

@media (max-width: 575px) {
  html, body {
    max-width: 100% !important;
    overflow-x: hidden !important;
  }
  .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container__color {
    background-image: url(../images/bg-main-mobile.png);
    height: 300px;
    background-repeat: no-repeat;
    width: 100%;
  }
  .container__color__front__card {
    top: -172px;
    left: 46px;
    width: 65%;
    z-index: 1;
  }
  .container__color__front__logo {
    position: absolute;
    top: -146px;
    left: 59px;
    z-index: 1;
    width: 10%;
  }
  .container__color__front--number {
    position: absolute;
    top: -96px;
    left: 60px;
    font-size: 18px;
    width: 100%;
    color: white;
    z-index: 1;
  }
  .container__color__front__name {
    top: -444px;
    color: white;
    position: absolute;
    z-index: 1;
    font-size: 12px;
    left: -90px;
  }
  .container__color__front__MY {
    color: white;
    position: relative;
    font-size: 5px;
    top: -448px;
    left: 67px;
    z-index: 1;
  }
  .container__color__front__MY span {
    font-size: 14px;
  }
  .container__color__back p {
    position: absolute;
    left: 294px;
    top: -192px;
    font-size: 12px;
  }
  .container__color__back__card {
    top: -251px;
    left: 96px;
    width: 65%;
  }
  .container__pay {
    width: 70%;
    margin: 0 40px;
  }
  .container__confirmation {
    width: 300px;
    text-align: center;
    margin-left: 41px;
    padding: 0;
    margin-top: 124px;
  }
  .container__confirmation__button {
    width: 77%;
  }
  .container__confirmation__tittle::before {
    left: 109px;
  }
}
/*# sourceMappingURL=styles.css.map */