@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap");
@import "../styles/variablesColor.scss";

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Space Grotesk", sans-serif;
  text-transform: uppercase;
  font-size: 18px;
}

.container {
  font-family: "space";
  display: flex;
  min-height: 100vh;
  &__color {
    width: 30%;
    background-image: url(../images/bg-main-desktop.png);
    position: relative;
    background-repeat: no-repeat;
    &__front {
      position: relative;
      &__logo {
        position: absolute;
        top: 217px;
        left: -322px;
      }
      &__card {
        position: absolute;
        top: 184px;
        left: -356px;
      }
      &--number {
        position: absolute;
        top: 316px;
        left: -330px;
        font-size: 28px;
        width: 100%;
        color: white;
        white-space: nowrap;
      }
      &--date {
        display: flex;
        flex-direction: row;
        position: absolute;
        top: 350px;
        left: -323px;
        align-items: center;
        justify-content: space-between;
        width: 85%;
        font-size: 18px;
        color: white;
        text-transform: uppercase;
        white-space: pre;
      }
    &__MY{
        margin-left: 127px;
    }
    }
    &__back {
      color: white;
      &__card {
        position: absolute;
        top: 467px;
        left: -234px;
      }
      p {
        position: absolute;
        top: 577px;
        left: 109px;
      }
    }
  }

  &__pay {
    display: flex;
    flex-direction: column;
    width: 30%;
    gap: 8px;
    margin: 19% auto;
    margin-right: 186px;
    &__back {
      display: flex;
      &--exp {
        display: flex;
        flex-direction: column;
        input {
          width: 44%;
        }
      }
    }
    &__cvc {
      display: flex;
      flex-direction: column;
    }
    &__label {
      color: $veryDarkViolet;
      margin-top: 18px;
      white-space: nowrap;
    }
    &__input {
      width: 100%;
    }
  }
  &__button {
    width: 100%;
    padding: 0.75rem;
    color: white;
    background-color: $veryDarkViolet;
    border-radius: 5px;
    border: none;
    margin-top: 18px;
  }
  &__confirmation {
    padding: 300px;
    text-align: center;
    margin-top: 80px;
    &__tittle {
      position: relative;
      font-size: 20px;
      &::before {
        position: absolute;
        content: "";
        background-image: url(../images/icon-complete.svg);
        background-repeat: no-repeat;
        width: 100%;
        top: -105px;
        bottom: -20px;
        left: 94px;
        right: 10px;
      }
    }
    &__text {
      font-size: 13px;
      white-space: nowrap;
      margin-top: 21px;
      margin-bottom: 25px;
      color: $lightGrayishViolet;
    }
    &__button {
      width: 100%;
      padding: 0.75rem;
      color: white;
      background-color: $veryDarkViolet;
      border-radius: 5px;
      border: none;
    }
  }
}

#labelout,
#labeloutexp,
#labeloutcvc {
  color: red;
  display: none;
  font-size: 14px;
  margin-top: 14px;
}

input {
  border: 1px solid hsl(270, 3%, 87%);
  padding: 0.75rem;
  border-radius: 0.5rem;
  color: $veryDarkViolet;
  cursor: pointer;
}
.input::placeholder {
  color: var($lightGrayishViolet);
}
input:hover {
  border-color: $veryDarkViolet;
}


@media (max-width: 575px) {
    html, body {
        max-width: 100% !important;
        overflow-x: hidden !important;
    }
  .container {
    flex-direction: column;
    &__color {
      background-image: url(../images/bg-main-mobile.png);
      height: 300px;
      background-repeat: no-repeat;
      width: 100%;
      &__front {
        &__card {
          top: -172px;
          left: 46px;
          width: 65%;
          z-index: 1;
        }
        &__logo {
          position: absolute;
          top: -146px;
          left: 59px;
          z-index: 1;
          width: 10%;
        }
        &--number {
          position: absolute;
          top: -96px;
          left: 60px;
          font-size: 18px;
          width: 100%;
          color: white;
          z-index: 1;
        }
        &__name {
          top: -444px;
          color: white;
          position: absolute;
          z-index: 1;
          font-size: 12px;
          left: -90px;
        }
        &__MY {
          color: white;
          position: relative;
          font-size: 5px;
          top: -448px;
          left: 67px;
          z-index: 1;
          span {
            font-size: 14px;
          }
        }
      }
      &__back {
          p{
            position: absolute;
            left: 294px;
            top: -192px;
            font-size: 12px;
          }
        &__card {
          top: -251px;
          left: 96px;
          width: 65%;
        }
      }
    }
    &__pay{
        width: 70%;
        margin: 0 40px;
    
    }
    &__confirmation{
        width: 300px;
        text-align: center;
        margin-left: 41px;
        padding: 0;
        margin-top: 124px;
        &__button{
            width: 77%;
        }
        &__tittle{
            
            &::before{
                left: 109px;
            }
        }
    }
  }
  
}
